# Node.js
node_modules/

# Environment files
.env

dist/utils/ClientEncryption.createDataKey.ts
src/utils/ClientEncryption.createDataKey.ts

dist/googleSheet/*.json
src/googleSheet/*.json

dist/googleSheet
src/googleSheet